<!-- header
   ================================================== -->
<header id="main-header">

  <div class="row">

    <div class="logo">
      <a href="index.html"></a>
    </div>

    <nav id="nav-wrap">

      <a class="mobile-btn" href="#nav-wrap" title="Show navigation">
        <span class="menu-icon">Menu</span>
      </a>
      <a class="mobile-btn" href="#" title="Hide navigation">
        <span class="menu-icon">Menu</span>
      </a>

      <ul id="nav" class="nav">
        <li routerLinkActive="current"><a class="smoothscroll" routerLink="/Home">Home.</a></li>
        <li routerLinkActive="current"><a class="smoothscroll" routerLink="/Portfolio">Portfolio.</a></li>
        <li routerLinkActive="current"><a class="smoothscroll" routerLink="/Services">Services.</a></li>
        <li routerLinkActive="current"><a class="smoothscroll" routerLink="/About">About.</a></li>
        <li routerLinkActive="current"><a class="smoothscroll" routerLink="/Contact">Contact.</a></li>
      </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    <ul class="header-social">
      <li><a href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
    </ul>

  </div>

</header> <!-- end header -->
