<!-- About Section
   ================================================== -->
<section id="about">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Who Am I<span>.</span></h1>

      <hr />

      <p>I am Lorena Ioana, Jr. Web Developer, working as a freelancer. May the story begin. </p>

    </div> <!-- end section-head -->

  </div>



  <div class="row mobile-no-padding">

    <div class="process bgrid-half tab-bgrid-whole group">

      <div class="bgrid">

        <h3>Main technologies</h3>
        <p></p>
        <div class="tech-icons">
          <img src="assets/images/js.png">
          <img src="assets/images/react.png">
          <img src="assets/images/vue.png">
          <img src="assets/images/angular.png">
          <img src="assets/images/node.png">
          <img src="assets/images/sass.png">
        </div>
      </div>

      <div class="bgrid">

        <h3>Our Approach.</h3>

        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>

      </div>

      <div class="bgrid">

        <h3>Our Goal.</h3>

        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>

      </div>

      <div class="bgrid">

        <h3>Our Mission.</h3>

        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
          rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
        </p>

      </div>

    </div> <!-- end process -->

  </div> <!-- end row -->

</section> <!-- end about -->

