<!-- homepage hero
   ================================================== -->
<section id="hero">

  <div class="row hero-content">

    <div class="twelve columns hero-container">

      <div class="row">
     <div class="header-title">
       <img src="/assets/images/logoW@2x.png">
     <h3 class="type"></h3>
     <p>These are the best solution for your business!</p>
     <!--<div class="avt-shape">
       <img class="avt-img" src="/assets/images/avatars/avatar-2.jpg">
     </div>-->
</div>
   </div>

    </div> <!-- end twelve columns-->

  </div> <!-- end row -->

</section> <!-- end homepage hero -->

<app-home></app-home>