<!-- contact
   ================================================== -->
<section id="contact">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Get In Touch<span>.</span></h1>

      <hr />

    </div>

  </div> <!-- end section-head -->

  <div class="row">

    <div id="contact-form" class="six columns tab-whole left">

      <!-- form -->
      <form name="contactForm" id="contactForm" method="post" action="/sendEmail.php">
        <fieldset>

          <div class="group">
            <input name="contactName" type="text" id="contactName" placeholder="Name" value="" minLength="2" required />
          </div>
          <div>
            <input name="contactEmail" type="email" id="contactEmail" placeholder="Email" value="" required />
          </div>
          <div>
            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value="" />
          </div>
          <div>
            <textarea name="contactMessage" id="contactMessage" placeholder="message" rows="10" cols="50" required></textarea>
          </div>
          <div>
            <button class="submitform">Submit</button>
            <div id="submit-loader">
              <div class="text-loader">Sending...</div>
              <div class="s-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>
            </div>
          </div>

        </fieldset>
      </form> <!-- Form End -->

      <!-- contact-warning -->
      <div id="message-warning"></div>
      <!-- contact-success -->
      <div id="message-success">
        <i class="icon-ok"></i>Your message was sent, thank you!<br />
      </div>

    </div>

    <div class="six columns tab-whole right">

      <p class="lead">Make it easier! Complete the form with the requested info. It will automatically get into my gmail inbox and I will leave you 
        a reply as soon as possible! Thank you :).

        <h3 class="address">Current location:</h3>

        <p>
         Romania
        </p>

        <h3>Contact:</h3>
        <p>Whatsapp: +40 749 169 650<br>
          Skype: lorenaioanna
          <br>
          Gmail: lorenaioanna@gmail.com
          <br>
          Discord: lorenaioanna#3988
         
        </p>

    </div>

  </div> <!-- end row -->

</section> <!-- end contact -->