<!-- About Section
   ================================================== -->
<section id="about">

  <div class="row section-head">

    <div class="twelve columns">

      <h1>Why<span>Lorena.io</span> ?</h1>

      <hr />

    </div> <!-- end section-head -->

  </div>

  <div class="row mobile-no-padding">

    <div class="process bgrid-half tab-bgrid-whole group">

      <div class="bgrid">

        <h3>Short description.</h3>

        <p>
          Hello. I am here to build some great solutions for your website.
          Why should you choose me? Well, coding is what I do. I am a self-taught 
          Web Developer, working at <span>Igniter</span>, as a freelancer.
          This website is more like a resume, but I also provide web services for free (premium websites too).
        </p>

      </div>

      <div class="bgrid">

        <h3>My goal</h3>

        <p>My goal is to build powerful web applications for the world. Also fast and secure, using
          the most popular technologies.
          Every challenge is a step forward. I would never stop learning new things.
        </p>

      </div>

      <div class="bgrid">
        <div class="git-style" onmouseover="gitEnter()" onmouseout="gitLeave()">
          <img class="cat-style" src="assets/images/cat.png">
          <img class="github-style" src="assets/images/rocket.png">
        </div>

      </div>
      

      <div class="bgrid">

        <h3>Github</h3>

        <p>You can visit my Github profile in order to get free resources. You can download any project you want. Choose what you like.
        </p>

        <a href="" target="_blank">Go to Git <span id="symbol-git">&#8605;</span></a>

      </div>

    </div> <!-- end process -->

  </div> <!-- end row -->

  <div id="call-to-action">

    <div class="row section-ads">

      <div class="twelve columns">

        <h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Do you need my services?<span>.</span></a></h2>

        <p>
          If you are looking for an awesome website designed specially for your business, let's get in touch.
          You get automatically <span> a huge discount </span> by working with me.
        </p>

        <div class="action">
          <a href="#">Send me a message</a>
        </div>

      </div>

    </div> <!-- end section-ads -->

  </div> <!-- end call-to-action -->

</section> <!-- end about -->